.titulo-acap{
    font-family: 'Lato';
    font-size: clamp(12px, (1px + 3vw), 22px);
}

.text-parrafos{
    font-family: 'Lato';
    font-size: clamp(12px, (1px + 2.8vw), 20px);
    margin: 0;
    font-weight: 300;
}

.elemento-lista{
    font-family: 'Lato';
    font-size: clamp(12px, (1px + 2.8vw), 18px);
    font-weight: 300;
}