.slider-container{
    background-image: url('../../assets/Imagenes/EstrellaFondoAzul.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 

    margin-top: 3rem;
    background-color: var(--azul);
    width: 100%;
    height: calc(100px + 35vw);

}


/**===========================Estilos del slider*/



.slick-next:before {
    content:none;

}
.slick-prev:before {
    content:none;

}

.flechita{
    width: calc(10px + 2.5vw);
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
}

.cont-contenido-slider{
    
    height: calc(100px + 30vw);

  

    display: flex;
    flex-direction: column;
}

.cont-lafrase-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.lafrase-slider {
    color: white;
    text-align: center;
    font-family: 'Lato';
    font-size: clamp(14px, (1px + 2vw), 50px);
    width: 70%;
    font-style: italic;
}

.autor-star {
    font-family: 'Myriad-Pro-Bold-Condesed';
    font-size: clamp(18px, (2px + 2vw), 50px);
    color: white;
}


.cont-autor-stars{
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    gap: 6px;
}
.star-autor{
    width: calc(5px + 1.3vw);
}


.slick-next:hover  img {
    transition: all 0.1s;
    transform: scale(1.08);
}

.slick-next:not(hover) {
    transition: all 0.4s;
}
.slick-prev:hover img {
    transition: all 0.1s;
    transform: scale(1.08);
}

.slick-prev:not(hover) {
    transition: all 0.4s;
}




.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: rgb(233, 230, 230);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}