.cont-mural{
    margin-top: 30px;
    display: flex;
    width: 100%;

    /*background-color: var(--azul);
    border-radius: min(12px + 12vw, 40px);*/
}

.cont-izquerda-azul{
    background-color: var(--azul);
    height: calc(30px + 35vw);
    min-height: 20rem;
    max-height: 50rem;
    width: 55%;
    border-top-left-radius:min(12px + 12vw, 40px); 
    border-bottom-left-radius:min(12px + 12vw, 40px); 


}

.cont-derecha-blanca{
    position: relative;
    background: linear-gradient(150deg, #f3f3f3, #ffffff, #ffffff, #f3f3f3);
    height: calc(30px + 35vw);
    min-height: 20rem;
    max-height: 50rem;
    border-radius: min(12px + 12vw, 40px);
    
        /**¿Quiza deba colocar el max?*/
    width: 45%;

    flex: 1;
    margin-left: calc(-20px - 5vw);
    box-shadow: rgba(170, 170, 170, 0.2) 1px 1px 8px 1px;

}


.cont-texto-mural-izquierda{
  
    width: 70%;
    padding: calc(10px + 3vw);
}

.cont-texto-mural-izquierda  h1{
    font-family: 'Myriad-Pro-Bold-Condesed';
    font-size: clamp(18px, (2px + 2vw), 50px);
    color: white;
}
.cont-texto-mural-izquierda  p{
    font-family: 'Lato';
    font-size: clamp(12px, (1px + 1.2vw), 15px);
    line-height: clamp(26px, (2px + 2vw), 30px);
    color: white;



    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Cambiar a la cantidad de líneas deseada */
    -webkit-box-orient: vertical;
}

.cont-btn-mural {
    display: flex;
    width: 80%;
    justify-content: center;
}


.cont-tio-sam {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}
.tio-sam{
    width: 55%;
    max-width: 30rem;
    object-fit: cover;
}


.cont-btn2-mural {

    position: absolute;
    top: calc(75% - 20px);
    display: flex;
    width: 100%;
    justify-content: center;
    display: none;
}

.btn-rojo{
    color: white;
    background-color: var(--rojo);
    box-shadow: rgba(170, 170, 170, 0.7) 1px 1px 8px 1px;
}

.cont-redes-sociales{
    
    display: flex;
    width: 95%;
    position: absolute;
    top: calc(10% - 20px);
    justify-content: end;

   
}
@media (max-width:660px){

    .cont-izquerda-azul{
        display: none;
    }

    .cont-derecha-blanca{
        width: 100%;
        margin: 0;
        height: calc(30px + 60vw);
        
    }

    .tio-sam{
        width: 75%;
        max-width: 300px;
   
    }

    .cont-btn2-mural {
        display: flex;
    }
}


