/** Fuente Lato:*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/** Myriad Pro Bold Condesed*/
@font-face {
  font-family: 'Myriad-Pro-Bold-Condesed';
  src: url('/src/assets/fonts/Myriad_Pro_Bold_Condensed/Myriad_Pro_Bold_Condensed.ttf');
}

:root {
--azul:#303F89;
--rojo: #B32335;
--mamei: #F1863D;
}


body {
  margin: 0;
}
 

h1 h2 h3 h4 span ul li button{
  font-family: 'Lato';
}

.cont-margenes-laterales-1{

  margin-left: 20px;
  margin-right: 20px;

}